:host {
  display: inline-flex;
}

.avatar {
  --avatar-bg: var(--cpy-avatar-bg, var(--cpy-bg-medium));
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  img {
    object-fit: cover;
    width: 100%;
  }

  &--rounded {
    border-radius: 9999px;
  }

  &--square {
    border-radius: 0.125rem;
  }

  &--border {
    border-width: 2px;
    border-color: var(--avatar-bg);
  }

  &--small {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &--large {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  &--x-large {
    width: 5rem;
    height: 5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  &--initials {
    background-color: var(--avatar-bg);
  }
  
}