:host {
  @apply inline-flex;
}

.avatar {
  --avatar-bg: var(--cpy-avatar-bg, var(--cpy-bg-medium));
  @apply w-10 h-10 overflow-hidden flex justify-center items-center uppercase;

  img {
    @apply object-cover;
  }

  &--rounded {
    @apply rounded-full;
  }

  &--square {
    @apply rounded-sm;
  }

  &--border {
    @apply border-2;
    border-color: var(--avatar-bg);
  }

  &--small {
    @apply w-8 h-8 text-sm;
  }

  &--large {
    @apply w-14 h-14 text-lg;
  }

  &--x-large {
    @apply w-20 h-20 text-3xl;
  }

  &--initials {
    background-color: var(--avatar-bg);
  }
  
}