.drawer-container {
  position: relative;
  z-index: 10;
  display: block;
  overflow: hidden;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;

  &__content {
    position: relative;
    z-index: 20;
    display: block;
    height: 100%;
    overflow: auto;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  &__overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 25;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: var(--cpy-bg-overlay);

    &--show {
      opacity: 1;
    }
  }
}

@media(min-width: 640px) {
  .drawer-container__overlay {
    display: none;
  }
}
