:host {
  display: block;
}

.comment {
  --cpy-link-color: var(--cpy-comment-color, var(--cpy-text-primary));
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 1rem/* 16px */;

  &--primary {
    --cpy-link-color: var(--cpy-comment-color, var(--cpy-text-primary));
  }

  &--secondary {
    --cpy-link-color: var(--cpy-comment-color, var(--cpy-text-secondary));
  }

  &--basic {
    --cpy-link-color: var(--cpy-comment-color, var(--cpy-text-basic));
  }

  &--small {
    margin-bottom: 0.5rem/* 8px */;
    gap: 0.5rem/* 8px */;

    .comment__author {
      font-size: 1.125rem/* 18px */;
      line-height: 1;
    }

    .comment__timestamp {
      font-size: 0.75rem/* 12px */;
      line-height: 1;
      margin-bottom: 0.25rem/* 4px */;
    }

    .comment__text {
      font-size: 0.875rem/* 14px */;
      line-height: 1.25rem/* 20px */;
    }
  }

  &--large {
    margin-bottom: 1.5rem/* 24px */;
    gap: 1.5rem/* 24px */;

    .comment__author {
      font-size: 1.5rem/* 24px */;
      line-height: 1;
    }

    .comment__timestamp {
      font-size: 1rem/* 16px */;
      line-height: 1;
      margin-bottom: 0.75rem/* 12px */;
    }

    .comment__text {
      font-size: 1.125rem/* 18px */;
      line-height: 1.75rem/* 28px */;
    }
  }

  &--right {
    flex-direction: row-reverse;

    .comment__bubble {
      flex: none;
      flex-shrink: 1;
    }

    .comment__author, .comment__timestamp {
      text-align: right;
    }

    .comment__spacer {
      flex: 1 1 0%;
    }
  }

  &__bubble {
    flex: 1 1 0%;
    min-width: 0px;
  }

  &__author {
    font-size: 1.25rem/* 20px */;
    line-height: 1;
    margin-bottom: 0.25rem/* 4px */;
    color: var(--cpy-link-color);
  }

  &__timestamp {
    font-size: 0.875rem/* 14px */;
    line-height: 1;
    margin-bottom: 0.5rem/* 8px */;
    color: var(--cpy-text-light);
  }

  &__text {
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}