:host {
  display: inline-block;
}

.spinner {
  --border-color: var(--cpy-spinner-color, currentColor);
  --border-width: var(--cpy-spinner-border-width, 0.25rem);
  border-color: var(--border-color);
  border-width: var(--border-width);
  border-radius: 9999px;
  height: 2rem/* 32px */;
  width: 2rem/* 32px */;
  border-right-color: transparent;
  animation: spin 1s linear infinite;

  &-size--small {
    height: 1rem/* 16px */;
    width: 1rem/* 16px */;
  }

  &-size--large {
    height: 4rem/* 64px */;
    width: 4rem/* 64px */;
  }
  
  &-type--primary {
    --border-color: var(--cpy-text-primary);
  }
  
  &-type--secondary {
    --border-color: var(--cpy-text-secondary);
  }

  &-type--basic {
    --border-color: var(--cpy-text-basic);
  }

  &-type--success {
    --border-color: var(--cpy-text-success);
  }

  &-type--warn {
    --border-color: var(--cpy-text-warn);
  }

  &-type--error {
    --border-color: var(--cpy-text-error);
  }

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}