:host {
  display: inline-block;
}

.spinner {
  @apply rounded-full border-4 h-8 w-8 border-r-transparent;
  --border-color: currentColor;
  border-color: var(--border-color);
  animation: spin 1s linear infinite;

  &-size--small {
    @apply h-4 w-4;
  }

  &-size--large {
    @apply h-16 w-16;
  }
  
  &-type--primary {
    --border-color: var(--cpy-text-primary);
  }
  
  &-type--secondary {
    --border-color: var(--cpy-text-secondary);
  }

  &-type--basic {
    --border-color: var(--cpy-text-basic);
  }

  &-type--success {
    --border-color: var(--cpy-text-success);
  }

  &-type--warn {
    --border-color: var(--cpy-text-warn);
  }

  &-type--error {
    --border-color: var(--cpy-text-error);
  }

}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}