:host {
  display: inline-flex;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 1rem/* 16px */;

  &:hover {
    .toggle__slider {
      border-color: var(--cpy-bg-primary);
    }
  }

  &--invalid {
    &.toggle--required {
      .toggle__label::after {
        color: var(--cpy-text-error);
      }
    }
  }

  &--required {
    .toggle__label::after {
      margin-left: 0.125rem/* 2px */;
      content: "*";
    }
  }

  &--disabled {
    &:hover {
      .toggle__slider {
        border-color: transparent;
      }
    }

    .toggle__slider, .toggle__label {
      cursor: default;
    }
  }

  &--large {
    gap: 1.25rem/* 20px */;

    .toggle__switch {
      width: 3rem/* 48px */;
      height: 1.75rem/* 28px */;
    }

    .toggle__slider {
      border-width: 4px;
    
      &:before {
        width: calc(1.75rem - 8px);
      }
    }
  }

  &--small {
    gap: 0.75rem/* 12px */;

    .toggle__switch {
      width: 1.75rem/* 28px */;
      height: 1rem/* 16px */;
    }

    .toggle__slider {
      border-width: 2px;
    
      &:before {
        width: calc(1rem - 4px);
      }
    }
  }

  &__label {
    cursor: pointer;
  }

  &__switch {
    position: relative;
    display: inline-block;
    width: 2.25rem/* 36px */;
    height: 1.25rem/* 20px */;

    input {
      opacity: 0;
      width: 0px;
      height: 0px;
    }

    input:checked + .toggle__slider {
      background-color: var(--cpy-bg-primary);
      border-color: var(--cpy-bg-primary);
    }
    
    input:checked + .toggle__slider:before {
      left: 100%;
      transform: translateX(-100%);
    }

    &--after {
      order: 2;
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    inset: 0px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 400ms;
    border-radius: 9999px;
    border-width: 3px;
    background-color: var(--cpy-bg-basic);
    border-color: var(--cpy-bg-basic);

    &:before {
      position: absolute;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
      border-radius: 9999px;
      background-color: white;
      width: calc(1.25rem - 6px);
      left: 0px;
      height: 100%;
      content: "";
    }
  }
}
