:host {
  display: inline-flex;
}

.toggle {
  @apply flex items-center gap-4;

  &:hover {
    .toggle__slider {
      border-color: var(--cpy-bg-primary);
    }
  }

  &--invalid {
    &.toggle--required {
      .toggle__label::after {
        color: var(--cpy-text-error);
      }
    }
  }

  &--required {
    .toggle__label::after {
      @apply ml-0.5;
      content: "*";
    }
  }

  &--large {
    @apply gap-5 text-lg;

    .toggle__switch {
      @apply w-12 h-7;
    }

    .toggle__slider {
      @apply border-4;
    
      &:before {
        @apply w-[calc(1.75rem-8px)];
      }
    }
  }

  &--small {
    @apply gap-3 text-sm;

    .toggle__switch {
      @apply w-7 h-4;
    }

    .toggle__slider {
      @apply border-2;
    
      &:before {
        @apply w-[calc(1rem-4px)];
      }
    }
  }

  &__switch {
    @apply relative inline-block;
    @apply w-9 h-5;

    input {
      @apply opacity-0 w-0 h-0;
    }

    input:checked + .toggle__slider {
      background-color: var(--cpy-bg-primary);
      border-color: var(--cpy-bg-primary);
    }
    
    input:checked + .toggle__slider:before {
      @apply left-full -translate-x-full;
    }

    &--after {
      @apply order-2;
    }
  }

  &__slider {
    @apply absolute cursor-pointer inset-0 transition duration-[400ms] rounded-full border-[3px];
    background-color: var(--cpy-bg-basic);
    border-color: var(--cpy-bg-basic);

    &:before {
      @apply absolute transition-all ease-linear duration-[200ms] rounded-full bg-white w-[calc(1.25rem-6px)] left-0 h-full;
      content: "";
    }
  }
}
