:host {
  display: inline-block;
}

.button {
  --button-opacity: 0;
  @apply leading-8 h-8 font-medium relative rounded px-4 inline-flex items-center justify-center min-w-[64px] border-0 outline-0 select-none appearance-none overflow-visible align-middle bg-transparent;

  &:disabled {
    @apply cursor-default;
    color: var(--cpy-text-disabled);
    background-color: var(--cpy-bg-disabled);
  }

  &-appearance--basic {
    @apply text-inherit;
    background-color: rgba(var(--cpy-bg-basic-rgb), var(--button-opacity));

    &:hover:not(:disabled) {
      --button-opacity: 0.1;
    }
    
    &:disabled {
      @apply bg-transparent;
    }
  }

  &-appearance--primary {
    --button-opacity: 1;
    @apply text-white;
    background-color: rgba(var(--cpy-bg-primary-rgb), var(--button-opacity));

    &:hover:not(:disabled) {
      background-color: rgba(var(--cpy-bg-primary-hover-rgb), var(--button-opacity));
    }
  }

  &-appearance--secondary {
    --button-opacity: 1;
    @apply text-white;
    background-color: rgba(var(--cpy-bg-secondary-rgb), var(--button-opacity));

    &:hover:not(:disabled) {
      background-color: rgba(var(--cpy-bg-secondary-hover-rgb), var(--button-opacity));
    }
  }

  &-appearance--tertiary {
    @apply border-2 px-3;
    border-color: var(--cpy-text-primary);
    background-color: rgba(var(--cpy-bg-basic-rgb), var(--button-opacity));
    color: var(--cpy-text-primary);

    &:hover:not(:disabled) {
      --button-opacity: 0.1;
    }

    &:disabled {
      @apply bg-transparent border-transparent;
    }
  }

  &-type--icon {
    --button-opacity: 0;
    @apply rounded-full p-3 min-w-0 w-12 h-12;
    background-color: rgba(var(--cpy-bg-basic-rgb), var(--button-opacity));

    ::slotted(cpy-icon) {
      @apply m-0 -mt-2 icon-size-6 #{!important};
    }

    &.button-appearance--primary {
      color: var(--cpy-text-primary);
    }
    &.button-appearance--secondary {
      color: var(--cpy-text-secondary);
    }

    &:hover:not(:disabled) {
      --button-opacity: 0.1;
    }

    &:disabled {
      @apply bg-transparent;
      color: var(--cpy-text-disabled);
    }
  }
}

::slotted(cpy-icon) {
  @apply -mt-0.5;
}

::slotted(cpy-icon:first-child) {
  @apply mr-1.5;
}