:host {
  @apply inline-block;
}

.button {
  @apply whitespace-nowrap leading-9 h-9 relative rounded px-3.5 inline-flex items-center justify-center gap-1.5 min-w-[64px] outline-0 select-none appearance-none overflow-visible align-middle bg-transparent;
  --text-color: var(--cpy-button-text, white);
  --bg-color: var(--cpy-button-bg, var(--cpy-bg-primary));
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 300ms;

  ::slotted(cpy-icon) {
    @apply icon-size-6 #{!important};
  }

  &:disabled {
    @apply cursor-default;
    --text-color: var(--cpy-text-disabled) !important;
    --bg-color: var(--cpy-bg-disabled) !important;


  }

  &-size--small {
    @apply leading-7 h-7 text-sm px-2 font-light;

    ::slotted(cpy-icon) {
      @apply icon-size-5 #{!important};
    }
  }

  &-size--large {
    @apply leading-[3rem] h-12 font-medium;

    ::slotted(cpy-icon) {
      @apply icon-size-7 #{!important};
    }
  }

  &--icon {
    @apply rounded-full px-3 min-w-0 w-12 h-12;

    &.button-size--small {
      @apply p-2 w-10 h-10;
    }
  
    &.button-size--large {
      @apply p-4 w-14 h-14 text-lg;
    }
  }

  &-appearance--outline {
    @apply border-2;
    border-color: var(--text-color);
  }

  &--icon,
  &-appearance--borderless,
  &-appearance--outline {
    --bg-color: var(--cpy-button-bg, transparent) !important;

    &:hover:not(:disabled) {
      --bg-color: var(--cpy-button-bg-hover, var(--cpy-bg-hover)) !important;
    }

    &:disabled {
      --bg-color: transparent !important;
    }
  }

  &-type--primary {
    --bg-color: var(--cpy-button-bg, var(--cpy-bg-primary));
    
    &:hover:not(:disabled) {
      --bg-color: var(--cpy-button-bg-hover, var(--cpy-bg-primary-hover));
    }

    &.button--icon,
    &.button-appearance--borderless,
    &.button-appearance--outline {
      --text-color: var(--cpy-button-text, var(--cpy-text-primary));
    }
  }

  &-type--secondary {
    --bg-color: var(--cpy-button-bg, var(--cpy-bg-secondary));
    
    &:hover:not(:disabled) {
      --bg-color: var(--cpy-button-bg-hover, var(--cpy-bg-secondary-hover));
    }

    &.button--icon,
    &.button-appearance--borderless,
    &.button-appearance--outline {
      --text-color: var(--cpy-button-text, var(--cpy-text-secondary));
    }
  }

  &-type--basic {
    --bg-color: var(--cpy-button-bg, var(--cpy-bg-basic));
    
    &:hover:not(:disabled) {
      --bg-color: var(--cpy-button-bg-hover, var(--cpy-bg-basic-hover));
    }

    &.button--icon,
    &.button-appearance--borderless,
    &.button-appearance--outline {
      --text-color: var(--cpy-button-text, var(--cpy-text-base));
    }
  }

  &-type--success {
    --bg-color: var(--cpy-button-bg, var(--cpy-bg-success));
    
    &:hover:not(:disabled) {
      --bg-color: var(--cpy-button-bg-hover, var(--cpy-bg-success-hover));
    }

    &.button--icon,
    &.button-appearance--borderless,
    &.button-appearance--outline {
      --text-color: var(--cpy-button-text, var(--cpy-text-success));
    }
  }

  &-type--warn {
    --bg-color: var(--cpy-button-bg, var(--cpy-bg-warn));
    
    &:hover:not(:disabled) {
      --bg-color: var(--cpy-button-bg-hover, var(--cpy-bg-warn-hover));
    }

    &.button--icon,
    &.button-appearance--borderless,
    &.button-appearance--outline {
      --text-color: var(--cpy-button-text, var(--cpy-text-warn));
    }
  }

  &-type--error {
    --bg-color: var(--cpy-button-bg, var(--cpy-bg-error));
    
    &:hover:not(:disabled) {
      --bg-color: var(--cpy-button-bg-hover, var(--cpy-bg-error-hover));
    }

    &.button--icon,
    &.button-appearance--borderless,
    &.button-appearance--outline {
      --text-color: var(--cpy-button-text, var(--cpy-text-error));
    }
  }
}
