:host {
  @apply inline-block;
}

.button {
  @apply whitespace-nowrap leading-9 h-9 relative rounded px-3.5 inline-flex items-center justify-center gap-1.5 min-w-[64px] outline-0 select-none appearance-none overflow-visible align-middle bg-transparent;
  --button-opacity: 1;
  --text-colour: var(--cpy-text-primary);
  --bg-colour-rgb: var(--cpy-bg-primary-rgb);
  color: var(--text-colour);
  background-color: rgba(var(--bg-colour-rgb), var(--button-opacity));
  transition: background-color 300ms;

  ::slotted(cpy-icon) {
    @apply icon-size-6 #{!important};
  }

  &:disabled {
    @apply cursor-default;
    --text-colour: var(--cpy-text-disabled) !important;
    --bg-colour-rgb: var(--cpy-bg-disabled-rgb) !important;
  }

  &-size--small {
    @apply leading-7 h-7 text-sm px-2 font-light;

    ::slotted(cpy-icon) {
      @apply icon-size-5 #{!important};
    }
  }

  &-size--large {
    @apply leading-[3rem] h-12 font-medium;

    ::slotted(cpy-icon) {
      @apply icon-size-7 #{!important};
    }
  }

  &--icon {
    @apply rounded-full px-3 min-w-0 w-12 h-12;

    &.button-size--small {
      @apply p-2 w-10 h-10;
    }
  
    &.button-size--large {
      @apply p-4 w-14 h-14 text-lg;
    }
  }

  &-appearance--outline {
    @apply border-2;
    border-color: var(--text-colour);
  }

  &-type--primary {
    --text-colour: white;
    --bg-colour-rgb: var(--cpy-bg-primary-rgb);
    
    &:hover:not(:disabled) {
      --bg-colour-rgb: var(--cpy-bg-primary-hover-rgb);
    }

    &.button--icon,
    &.button-appearance--borderless,
    &.button-appearance--outline {
      --text-colour: var(--cpy-text-primary);
      --button-opacity: 0;
  
      &:hover:not(:disabled) {
        --button-opacity: 0.1;
      }
      
      &:disabled {
        @apply bg-transparent;
      }
    }
  }

  &-type--secondary {
    --text-colour: white;
    --bg-colour-rgb: var(--cpy-bg-secondary-rgb);
    
    &:hover:not(:disabled) {
      --bg-colour-rgb: var(--cpy-bg-secondary-hover-rgb);
    }

    &.button--icon,
    &.button-appearance--borderless,
    &.button-appearance--outline {
      --text-colour: var(--cpy-text-secondary);
      --button-opacity: 0;
  
      &:hover:not(:disabled) {
        --button-opacity: 0.1;
      }
      
      &:disabled {
        @apply bg-transparent;
      }
    }
  }

  &-type--basic {
    --text-colour: white;
    --bg-colour-rgb: var(--cpy-bg-basic-rgb);
    
    &:hover:not(:disabled) {
      --bg-colour-rgb: var(--cpy-bg-basic-hover-rgb);
    }

    &.button--icon,
    &.button-appearance--borderless,
    &.button-appearance--outline {
      --text-colour: var(--cpy-text-base);
      --button-opacity: 0;
  
      &:hover:not(:disabled) {
        --button-opacity: 0.1;
      }
      
      &:disabled {
        @apply bg-transparent;
      }
    }
  }

  &-type--success {
    --text-colour: white;
    --bg-colour-rgb: var(--cpy-bg-success-rgb);
    
    &:hover:not(:disabled) {
      --bg-colour-rgb: var(--cpy-bg-success-hover-rgb);
    }

    &.button--icon,
    &.button-appearance--borderless,
    &.button-appearance--outline {
      --text-colour: var(--cpy-text-success);
      --button-opacity: 0;
  
      &:hover:not(:disabled) {
        --button-opacity: 0.1;
      }
      
      &:disabled {
        @apply bg-transparent;
      }
    }
  }

  &-type--warn {
    --text-colour: white;
    --bg-colour-rgb: var(--cpy-bg-warn-rgb);
    
    &:hover:not(:disabled) {
      --bg-colour-rgb: var(--cpy-bg-warn-hover-rgb);
    }

    &.button--icon,
    &.button-appearance--borderless,
    &.button-appearance--outline {
      --text-colour: var(--cpy-text-warn);
      --button-opacity: 0;
  
      &:hover:not(:disabled) {
        --button-opacity: 0.1;
      }
      
      &:disabled {
        @apply bg-transparent;
      }
    }
  }

  &-type--error {
    --text-colour: white;
    --bg-colour-rgb: var(--cpy-bg-error-rgb);
    
    &:hover:not(:disabled) {
      --bg-colour-rgb: var(--cpy-bg-error-hover-rgb);
    }

    &.button--icon,
    &.button-appearance--borderless,
    &.button-appearance--outline {
      --text-colour: var(--cpy-text-error);
      --button-opacity: 0;
  
      &:hover:not(:disabled) {
        --button-opacity: 0.1;
      }
      
      &:disabled {
        @apply bg-transparent;
      }
    }
  }
}
