:host {
  display: block;
}

.code-example {
  display: block;
  border-width: 1px;
  background-color: var(--cpy-bg-light);
  border-color: var(--cpy-bg-basic-border);

  cpy-expand-collapse {
    display: block;
    margin-left: -1.5rem/* -24px */;
    margin-right: -1.5rem/* -24px */;
  }

  cpy-code-block {
    display: block;
    margin-bottom: 2rem;
    --cpy-code-block-border-radius: 0;
  }

  &__title {
    display: flex;
    gap: 0.25rem;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: -0.5rem;
    color: var(--cpy-text-light);

    & > *:first-child {
      flex: 1 1 0%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
