@import '../../styles/mixins/box-shadow.scss';

.toast {
  position: fixed;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  max-width: min(30rem, 100%);

  --translate-x: 100%;
  --translate-y: 0px;
  transform: translate(var(--translate-x), var(--translate-y));

  &--container {
    margin: 1rem/* 16px */;
    border-radius: 0.375rem/* 6px */;
    @include box-shadow();
  }

  &--top-start {
    --translate-x: -100%;
    top: 0px;
    left: 0px;
  }

  &--top-middle {
    --translate-x: -50%;
    --translate-y: -100%;
    top: 0px;
    left: 50%;

    &.toast--show {
      --translate-y: 0px;
    }
  }

  &--top-end {
    --translate-x: 100%;
    top: 0px;
    right: 0px;
  }

  &--bottom-start {
    --translate-x: -100%;
    bottom: 0px;
    left: 0px;
  }

  &--bottom-middle {
    --translate-x: -50%;
    --translate-y: 100%;
    bottom: 0;
    left: 50%;

    &.toast--show {
      --translate-y: 0px;
    }
  }

  &--bottom-end {
    --translate-x: 100%;
    bottom: 0px;
    right: 0px;
  }

  &--show:not(.toast--top-middle):not(.toast--bottom-middle) {
    --translate-x: 0px;
  }
}