@import url(../../styles/prism.css);

.code-block {
  @apply rounded-md overflow-hidden;
  color: #abb2bf;
  background-color: #1E293B;

  &__details {
    @apply pl-4 flex justify-between items-baseline w-full uppercase;

    > div {
      @apply text-sm border-b px-1;
      border-color: #828791;
    }
  }

  &__copy-button {
    --button-opacity: 0;
    --bg-colour-rgb: var(--cpy-bg-basic-rgb);
    background-color: rgba(var(--bg-colour-rgb), var(--button-opacity));
    transition: background-color 300ms;
    @apply cursor-pointer leading-9 h-9 px-3.5 rounded-bl-md border-l border-b;
    border-color: #828791;
    
    &:hover {
      --button-opacity: 0.1;
      --bg-colour-rgb: var(--cpy-bg-basic-hover-rgb);
    }
  }
}

@media(min-width: 640px) {
  pre {
    &::-webkit-scrollbar {
      @apply w-2 h-2;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: var(--cpy-bg-basic);
      @apply rounded;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--cpy-bg-basic);
    }
  }
}
