@import url(../../styles/prism.css);
@import '../../styles/mixins/icon-size.scss';

.code-block {
  --border-radius: var(--cpy-code-block-border-radius, 0.375rem);
  overflow: hidden;
  position: relative;
  border-radius: var(--border-radius);
  color: var(--cpy-text-light);
  background-color: var(--cpy-bg-white);

  &:hover {
    .code-block__copy {
      opacity: 1;
    }
  }

  &__copy {
    background-color: var(--cpy-bg-white);
    transition: background-color, opacity 300ms;
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 0.5rem/* 8px */;
    right: 0.5rem/* 8px */;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 2rem/* 32px */;
    width: 2rem/* 32px */;
    border-radius: 0.375rem/* 6px */;
    border: 1px solid var(--cpy-bg-basic-border);

    .copied {
      color: var(--cpy-text-success);
    }

    cpy-icon {
      @include icon-size(5);
    }
  }
}

@media(min-width: 640px) {
  pre {
    /* width */
    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: var(--cpy-bg-medium);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: var(--cpy-bg-basic);
      border-radius: 0.25rem/* 4px */;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--cpy-bg-basic);
    }
  }
}
