@import '../../styles/mixins/box-shadow.scss';

:host(.toolbar) {
  --toolbar-color: var(--cpy-toolbar-color, white);
  --toolbar-bg-color: var(--cpy-toolbar-bg, var(--cpy-bg-primary));
  display: flex;
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
  width: 100%;
  height: 4rem/* 64px */;
  align-items: center;
  gap: 1rem/* 16px */;
  position: relative;
  z-index: 30;
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
  font-weight: 500;
  color: var(--toolbar-color);
  background-color: var(--toolbar-bg-color);
  @include box-shadow();

  ::slotted(cpy-button[icon]) {
    --cpy-button-text: var(--toolbar-color);
  }
}

:host(.toolbar--small) {
  height: 3rem/* 48px */;
  padding-left: 0.5rem/* 8px */;
  padding-right: 0.5rem/* 8px */;
  gap: 0.5rem/* 8px */;
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
}

:host(.toolbar--large) {
  height: 5rem/* 48px */;
  padding-left: 1.5rem/* 8px */;
  padding-right: 1.5rem/* 8px */;
  gap: 1.5rem/* 8px */;
  font-size: 1.75rem/* 20px */;
}

:host(.toolbar--primary) {
  --toolbar-bg-color: var(--cpy-toolbar-bg, var(--cpy-bg-primary));
}

:host(.toolbar--secondary) {
  --toolbar-bg-color: var(--cpy-toolbar-bg, var(--cpy-bg-secondary));
}

:host(.toolbar--basic) {
  --toolbar-bg-color: var(--cpy-toolbar-bg, var(--cpy-bg-basic));
}

:host(.toolbar--success) {
  --toolbar-bg-color: var(--cpy-toolbar-bg, var(--cpy-bg-success));
}

:host(.toolbar--warn) {
  --toolbar-bg-color: var(--cpy-toolbar-bg, var(--cpy-bg-warn));
}

:host(.toolbar--error) {
  --toolbar-bg-color: var(--cpy-toolbar-bg, var(--cpy-bg-error));
}
