.input-text {
  &:focus-within {
    .input-text__label--required::after {
      color: var(--cpy-text-primary);
    }

    .input-text__input {
      border-color: var(--cpy-bg-primary);
    }
  }

  &__label {
    @apply text-sm mb-1;
    color: var(--cpy-text-light);

    &.input-text__label--required::after {
      content: "*";
    }
  }

  &__input {
    @apply border rounded-md p-2 flex gap-1.5;
    background-color: var(--cpy-bg-white);
    border-color: var(--cpy-bg-basic-border);

    input {
      @apply flex-1 bg-transparent leading-6;
    }

    ::slotted(cpy-icon) {
      @apply icon-size-5 #{!important};
    }
  }

  &--small {
    .input-text__label {
      @apply text-xs;
    }

    .input-text__input {
      @apply text-sm p-1.5 gap-1;

      input {
        @apply leading-5;
      }

      ::slotted(cpy-icon) {
        @apply icon-size-4 #{!important};
      }
    }
  }

  &--large {
    .input-text__label {
      @apply text-base;
    }

    .input-text__input {
      @apply text-lg p-2.5 gap-2;

      input {
        @apply leading-7;
      }

      ::slotted(cpy-icon) {
        @apply icon-size-6 #{!important};
      }
    }
  }
}