:host {
  display: block;
}

.carousel {
  width: 100%;

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem/* 16px */;
    margin-bottom: 0.5rem/* 8px */;
  }

  &__title {
    flex: 1 1 0%;
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__buttons {
    display: flex;
  }

  &__content {
    overflow-x: auto;
    max-width: 100%;
    scroll-behavior: smooth;

    &::-webkit-scrollbar{
      display: none;
    }
  }

  &__scroll-content {
    display: flex;
    gap: 1rem/* 16px */;
    min-width: min-content;
  }
}
