.page-container {
  --link-offset: var(--cpy-page-content-link-offset, 6rem);

  cpy-contents-list {
    display: none;
  }

  ::slotted(h4[id]) {
    margin-top: calc(var(--link-offset) * -1) !important;
    padding-top: var(--link-offset) !important;
  }
}

@media(min-width: 640px) {
  .page-container {
    display: flex;
    gap: 2rem;

    cpy-contents-list {
      display: block;
    }

    &__main {
      flex: 1 1 0%;
      min-width: 0px;
    }
  }
}
