.page-container {
  --link-offset: var(--cpy-page-content-link-offset, 6rem);

  cpy-contents-list {
    @apply hidden;
  }

  ::slotted(h4[id]) {
    margin-top: calc(var(--link-offset) * -1) !important;
    padding-top: var(--link-offset) !important;
  }
}

@media(min-width: 640px) {
  .page-container {
    @apply flex gap-8;

    cpy-contents-list {
      @apply block;
    }

    &__main {
      @apply flex-1 min-w-0;
    }
  }
}
