.nav-menu-item {
  --item-opacity: 0;
  @apply flex gap-3 mb-1 py-2 px-3 rounded-md cursor-pointer items-center select-none min-h-[2.5rem];
  background-color: rgba(var(--cpy-bg-basic-rgb), var(--item-opacity));

  &:hover, &--active {
    --item-opacity: 0.1;
  }

  &--group {
    @apply cursor-default;

    &:hover {
      --item-opacity: 0;
    }

    .nav-menu-item__title {
      @apply uppercase;
      color: var(--cpy-text-primary);
    }
  }

  &__content {
    @apply flex-1 min-w-0;
  }

  &__collapse-icon {
    @apply transition-all;

    &--open {
      @apply rotate-90;
    }
  }

  &__collapse {
    @apply ml-2 block;
  }

  > cpy-icon {
    @apply icon-size-6;
    
    i {
      @apply align-baseline;
    }
  }

  &__title {
    @apply text-sm truncate font-medium;
  }

  &__description {
    @apply text-xs;
    color: var(--cpy-text-light);
  }

  &__separator {
    @apply border-b w-full my-2;
    border-color: var(--cpy-bg-basic-border);
  }
}