@import '../../../styles/mixins/icon-size.scss';

.nav-menu-item {
  --rounded-border: var(--cpy-nav-item-border-radius, 0);
  display: flex;
  gap: 0.75rem/* 12px */;
  margin-bottom: 0.25rem/* 4px */;
  padding-top: 0.5rem/* 8px */;
  padding-bottom: 0.5rem/* 8px */;
  padding-left: 1.25rem/* 20px */;
  padding-right: 1.25rem/* 20px */;
  cursor: pointer;
  align-items: center;
  user-select: none;
  min-height: 2.5rem/* 40px */;
  background-color: transparent;
  border-radius: var(--rounded-border);

  &:hover, &--active {
    background-color: var(--cpy-bg-hover);
  }

  &--group {
    cursor: default;
    background-color: transparent !important;

    .nav-menu-item__title {
      text-transform: uppercase;
      color: var(--cpy-text-primary);
    }
  }

  &__content {
    flex: 1 1 0%;
    min-width: 0px;
  }

  &__collapse-icon {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    &--open {
      transform: rotate(90deg);
    }
  }

  &__collapse {
    display: block;

    > div {
      border-bottom-width: 1px;
      margin-bottom: 0.25rem/* 4px */;
      border-color: var(--cpy-bg-basic-border);
    }
  }

  > cpy-icon {
    @include icon-size(6);
  }

  &__title {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
  }

  &__description {
    font-size: 0.75rem/* 12px */;
    line-height: 1rem/* 16px */;
    color: var(--cpy-text-light);
  }

  &__separator {
    border-bottom-width: 1px;
    width: 100%;
    margin-bottom: 0.25rem/* 4px */;
    border-color: var(--cpy-bg-basic-border);
  }
}