.nav-menu-item {
  @apply flex gap-3 mb-1 py-2 px-5 cursor-pointer items-center select-none min-h-[2.5rem] bg-transparent;

  &:hover, &--active {
    background-color: var(--cpy-bg-hover);
  }

  &--group {
    @apply cursor-default;
    background-color: transparent !important;

    .nav-menu-item__title {
      @apply uppercase;
      color: var(--cpy-text-primary);
    }
  }

  &__content {
    @apply flex-1 min-w-0;
  }

  &__collapse-icon {
    @apply transition-all;

    &--open {
      @apply rotate-90;
    }
  }

  &__collapse {
    @apply block;

    > div {
      @apply border-b mb-1;
      border-color: var(--cpy-bg-basic-border);
    }
  }

  > cpy-icon {
    @apply icon-size-6;
  }

  &__title {
    @apply text-sm truncate font-medium;
  }

  &__description {
    @apply text-xs;
    color: var(--cpy-text-light);
  }

  &__separator {
    @apply border-b w-full mb-1;
    border-color: var(--cpy-bg-basic-border);
  }
}