.drawer {
  @apply absolute block w-auto min-w-[300px] border-r top-0 bottom-0 z-20 outline-0 overflow-y-auto invisible transition-all duration-300;
  border-color: var(--cpy-bg-basic-border);
  transform: translate3d(-100%, 0, 0);
  background-color: var(--cpy-bg-white);

  &--open {
    @apply transform-none visible;
  }
}
