:host {
  --padding: var(--cpy-card-padding, 1.5rem);
  --footer-bg: var(--cpy-card-footer-bg, var(--cpy-bg-primary));
  --footer-colour: var(--cpy-card-footer-colour, var(--cpy-text-base));
  --border-radius: var(--cpy-card-border-radius, 0.75rem);
  @apply inline-block overflow-hidden;
  border-radius: var(--border-radius);
  padding: var(--padding);
  background-color: var(--cpy-bg-white);
}

.card {
  &--footer-hidden {
    & + .card__footer {
      @apply hidden;
    }
  }

  &__footer {
    margin: var(--padding) calc(var(--padding) * -1) calc(var(--padding) * -1) calc(var(--padding) * -1);
    padding: 0.5rem var(--padding);
    background-color: var(--footer-bg);
    color: var(--footer-colour);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
}
