:host {
  display: block;
}

.progress-bar {
  --bg-color: var(--cpy-progress-bar-bg, var(--cpy-bg-primary));
  --border-radius: var(--cpy-progress-bar-border-radius, 0.25rem);
  position: relative;
  height: 1rem/* 16px */;
  width: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: var(--cpy-bg-white);
  border-color: var(--bg-color);

  &--border {
    border-width: 1px;
  }

  &--indeterminate {
    .progress-bar__progress {
      animation: indeterminate-progress-bar 1.5s infinite;
      position: absolute;
      bottom: 0px;
      top: 0px;
      height: auto;
      width: 40%;
    }
  }

  &__progress {
    height: 100%;
    max-width: 100%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-color: var(--bg-color);
  }

  &-size--small {
    height: 0.5rem/* 8px */;
  }

  &-size--large {
    height: 1.5rem/* 24px */;
  }
  
  &-type--primary {
    --bg-color: var(--cpy-progress-bar-bg, var(--cpy-bg-primary));
  }
  
  &-type--secondary {
    --bg-color: var(--cpy-progress-bar-bg, var(--cpy-bg-secondary));
  }

  &-type--basic {
    --bg-color: var(--cpy-progress-bar-bg, var(--cpy-bg-basic));
  }

  &-type--success {
    --bg-color: var(--cpy-progress-bar-bg, var(--cpy-bg-success));
  }

  &-type--warn {
    --bg-color: var(--cpy-progress-bar-bg, var(--cpy-bg-warn));
  }

  &-type--error {
    --bg-color: var(--cpy-progress-bar-bg, var(--cpy-bg-error));
  }
}

@keyframes indeterminate-progress-bar {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}
