.contents {
  @apply block sticky top-4 max-w-[10rem];

  &__title {
    @apply ml-2 truncate;
    color: var(--cpy-text-light);
  }

  &__list {
    @apply border-l leading-tight p-0 m-0 relative;
    border-color: var(--cpy-bg-basic-border);
  }

  &__list-active {
    --active-bar-bg: var(--cpy-contents-color, var(--cpy-text-primary));
    @apply w-0.5 absolute left-0 h-0 top-0 transition-all duration-300;
    background-color: var(--active-bar-bg);
  }
}

@media(min-width: 1024px) {
  .contents {
    @apply max-w-[16rem];
  }
}
