@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(./webfonts/MaterialIconsRound-Regular.woff) format("woff");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(./webfonts/Inter-roman.var.woff2?v=3.19) format("woff2");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url(./webfonts/Inter-italic.var.woff2?v=3.19) format("woff2");
}

:root {
  /* overrides the text colour in dark mode for edge cases
     like white text on coloured background for alerts */
  --cpy-dm-text-override: currentColor;

  /* based on tailwind colours */
  --cpy-bg-light-rgb: 250, 250, 250; /* zinc-50 */
  --cpy-bg-light: rgb(var(--cpy-bg-light-rgb));

  --cpy-bg-dark-rgb: 51, 65, 85; /* slate-700 */
  --cpy-bg-dark: rgb(var(--cpy-bg-dark-rgb));

  --cpy-bg-white-rgb: 255, 255, 255;
  --cpy-bg-white: rgb(var(--cpy-bg-white-rgb));

  --cpy-bg-basic-rgb: 75, 85, 99; /* gray-600 */
  --cpy-bg-basic: rgb(var(--cpy-bg-basic-rgb));

  --cpy-bg-basic-light-rgb: 249, 250, 251; /* grey-50 */
  --cpy-bg-basic-light: rgb(var(--cpy-bg-basic-light-rgb));

  --cpy-bg-basic-hover-rgb: 107, 114, 128; /* grey-500 */
  --cpy-bg-basic-hover: rgb(var(--cpy-bg-primary-basic-rgb));

  --cpy-bg-basic-border-rgb: 229, 231, 235; /* grey-200 */
  --cpy-bg-basic-border: rgb(var(--cpy-bg-basic-border-rgb));
  
  --cpy-bg-primary-rgb: 124, 58, 237; /* violet-600 */
  --cpy-bg-primary: rgb(var(--cpy-bg-primary-rgb));
  
  --cpy-bg-primary-light-rgb: 238, 242, 255;  /* violet-50 */
  --cpy-bg-primary-light: rgb(var(--cpy-bg-primary-light-rgb));
  
  --cpy-bg-primary-hover-rgb: 139, 92, 246; /* violet-500 */
  --cpy-bg-primary-hover: rgb(var(--cpy-bg-primary-hover-rgb));

  --cpy-bg-secondary-rgb: 234, 88, 12; /* orange-600 */
  --cpy-bg-secondary: rgb(var(--cpy-bg-secondary-rgb));

  --cpy-bg-secondary-light-rgb: 255, 247, 237; /* orange-50 */
  --cpy-bg-secondary-light: rgb(var(--cpy-bg-secondary-light-rgb));
  
  --cpy-bg-secondary-hover-rgb: 249, 115, 22; /* orange-500 */
  --cpy-bg-secondary-hover: rgb(var(--cpy-bg-secondary-hover-rgb));

  --cpy-bg-success-rgb: 22, 163, 74; /* green-600 */
  --cpy-bg-success: rgb(var(--cpy-bg-success-rgb));

  --cpy-bg-success-light-rgb: 240, 253, 244; /* green-50 */
  --cpy-bg-success-light: rgb(var(--cpy-bg-success-light-rgb));

  --cpy-bg-success-hover-rgb: 34, 197, 94; /* green-500 */
  --cpy-bg-success-hover: rgb(var(--cpy-bg-success-hover-rgb));

  --cpy-bg-error-rgb: 220, 38, 38; /* red-600 */
  --cpy-bg-error: rgb(var(--cpy-bg-error-rgb));

  --cpy-bg-error-light-rgb: 254, 242, 242; /* red-50 */
  --cpy-bg-error-light: rgb(var(--cpy-bg-error-light-rgb));

  --cpy-bg-error-hover-rgb: 239, 68, 68; /* red-500 */
  --cpy-bg-error-hover: rgb(var(--cpy-bg-error-hover-rgb));

  --cpy-bg-warn-rgb: 217, 119, 6; /* amber-600 */
  --cpy-bg-warn: rgb(var(--cpy-bg-warn-rgb));

  --cpy-bg-warn-light-rgb: 255, 251, 235; /* amber-50 */
  --cpy-bg-warn-light: rgb(var(--cpy-bg-warn-light-rgb));
  
  --cpy-bg-warn-hover-rgb: 245, 158, 11; /* amber-500 */
  --cpy-bg-warn-hover: rgb(var(--cpy-bg-warn-hover-rgb));

  --cpy-bg-disabled-rgb: 229, 231, 235; /* gray-200 */
  --cpy-bg-disabled: rgb(var(--cpy-bg-disabled-rgb));
  --cpy-text-disabled: rgb(156, 163, 175); /* gray-400 */

  --cpy-text-base: rgb(31, 41, 55); /* gray-800 */
  --cpy-text-light: rgb(107, 114, 128); /* gray-500 */
  --cpy-text-primary: rgb(109, 40, 217); /* violet-700 */
  --cpy-text-secondary: rgb(194, 65, 12); /* orange-700 */
  --cpy-text-basic: rgb(55, 65, 81); /* gray-700 */
  --cpy-text-success: rgb(21, 128, 61); /* green-700 */
  --cpy-text-warn: rgb(180, 83, 9); /* amber-700 */
  --cpy-text-error: rgb(185, 28, 28); /* red-700 */

}

html.dark {
  /* overrides the text colour in dark mode for edge cases
     like white text on coloured background for alerts */
  --cpy-dm-text-override: rgb(255, 255, 255);

  /* based on tailwind colours */
  --cpy-bg-light-rgb: 15, 23, 42; /* slate-900 */

  --cpy-bg-dark-rgb: 203, 213, 225; /* slate-300 */

  --cpy-bg-white-rgb: 30, 41, 59; /* slate-800 */

  --cpy-bg-basic-rgb: 100, 116, 139; /* slate-400 */
  --cpy-bg-basic-light-rgb: 71, 85, 105; /* slate-600 */
  --cpy-bg-basic-hover-rgb: 148, 163, 184; /* slate-500 */
  --cpy-bg-basic-border-rgb: 71, 85, 105; /* slate-600 */

  --cpy-bg-primary-rgb: 124, 58, 237; /* violet-600 */
  --cpy-bg-primary-light-rgb: 124, 58, 237;  /* violet-600 */
  --cpy-bg-primary-hover-rgb: 139, 92, 246; /* violet-500 */

  --cpy-bg-secondary-rgb: 234, 88, 12; /* orange-600 */
  --cpy-bg-secondary-light-rgb: 234, 88, 12; /* orange-600 */
  --cpy-bg-secondary-hover-rgb: 249, 115, 22; /* orange-500 */

  --cpy-bg-success-rgb: 22, 163, 74; /* green-600 */
  --cpy-bg-success-light-rgb: 22, 163, 74; /* green-600 */
  --cpy-bg-success-hover-rgb: 34, 197, 94; /* green-500 */

  --cpy-bg-error-rgb: 220, 38, 38; /* red-600 */
  --cpy-bg-error-light-rgb: 220, 38, 38; /* red-600 */
  --cpy-bg-error-hover-rgb: 239, 68, 68; /* red-500 */

  --cpy-bg-warn-rgb: 217, 119, 6; /* amber-600 */
  --cpy-bg-warn-light-rgb: 217, 119, 6; /* amber-600 */
  --cpy-bg-warn-hover-rgb: 245, 158, 11; /* amber-500 */

  --cpy-bg-disabled-rgb: 51, 65, 85; /* slate-700 */
  --cpy-text-disabled: rgb(100, 116, 139); /* slate-500 */

  --cpy-text-base: rgb(241, 245, 249); /* slate-100 */
  --cpy-text-light: rgb(107, 114, 128); /* gray-500 */
  --cpy-text-primary: rgb(139, 92, 246); /* violet-500 */
  --cpy-text-secondary: rgb(249, 115, 22); /* orange-500 */
  --cpy-text-basic: rgb(100, 116, 139); /* slate-500 */
  --cpy-text-success: rgb(34, 197, 94); /* green-500 */
  --cpy-text-warn: rgb(245, 158, 11); /* amber-500 */
  --cpy-text-error: rgb(239, 68, 68); /* red-500 */
}

html {
  font-family: 'Inter var', sans-serif;
  font-size: 16px;
  color: var(--cpy-text-base);
  background-color: var(--cpy-bg-light);
}
