@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(./webfonts/MaterialIconsRound-Regular.woff) format("woff");
}

/* Tailwind */
body {
  line-height: inherit;
}

hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,strong {
  font-weight: bolder;
}

code,kbd,pre,samp {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

button,input,optgroup,select,textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

button,select {
  text-transform: none;
}

[type=button],[type=reset],[type=submit],button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
  margin: 0;
}

fieldset {
  margin: 0;
}

fieldset,legend {
  padding: 0;
}

menu,ol,ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder,textarea::-moz-placeholder {
  color: #9ca3af;
  opacity: 1;
}

input::placeholder,textarea::placeholder {
  color: #9ca3af;
  opacity: 1;
}

[role=button],button {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

audio,canvas,embed,iframe,img,object,svg,video {
  display: block;
}

img,video {
  height: auto;
  max-width: 100%;
}

[hidden], .hidden {
  display: none;
}

*,
*::before,
*::after {
  /* Text rendering */
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  border: 0 solid transparent;
}

*:focus {
  outline: none !important;
}
