.dialog {
  &:not(.hidden) {
    position: fixed;
    inset: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cpy-bg-overlay);
  }

  &__container {
    display: flex;
    flex-direction: column;
    border-radius: 0.375rem/* 6px */;
    width: 550px;
    max-height: 95vh;
    max-width: 95vw;
    overflow: hidden;
    background-color: var(--cpy-dialog-bg, var(--cpy-bg-white));

    &--small {
      width: 350px;
    }

    &--large {
      width: 750px;
    }

    &--full-screen {
      width: 95vw;
    }

    &-title {
      padding: 0.5rem/* 8px */;
      padding-left: 1.5rem/* 24px */;
      display: flex;
      align-items: center;
      width: 100%;
      gap: 0.5rem/* 8px */;
      border-bottom-width: 1px;
      font-size: 1.125rem/* 18px */;
      line-height: 1.75rem/* 28px */;
      border-color: var(--cpy-bg-basic-border);

      span {
        flex: 1 1 0%;
      }
    }

    &-content {
      padding-top: 1rem/* 16px */;
      padding-bottom: 1rem/* 16px */;
      padding-left: 1.5rem/* 24px */;
      padding-right: 1.5rem/* 24px */;
      flex: 1 1 0%;
      overflow-x: auto;
    }

    &-buttons {
      padding-top: 0.75rem/* 12px */;
      padding-bottom: 0.75rem/* 12px */;
      padding-left: 1.5rem/* 24px */;
      padding-right: 1.5rem/* 24px */;
      border-top-width: 1px;
      display: flex;
      width: 100%;
      gap: 0.5rem/* 8px */;
      justify-content: flex-end;
      border-color: var(--cpy-bg-basic-border);
    }
  }
}

.dialog-enter {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.dialog-enter-start {
  opacity: 0;
}
.dialog-enter-end {
  opacity: 1;
}

.dialog-leave {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.dialog-leave-start {
  opacity: 1;
}
.dialog-leave-end {
  opacity: 0;
}

.dialog-container-enter {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.dialog-container-enter-start {
  transform: translateY(-100%) scale(1.1);
}
.dialog-container-enter-end {
  transform: translateY(0px) scale(1);
}
 
.dialog-container-leave {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.dialog-container-leave-start {
  transform: translateY(0px) scale(1);
}
.dialog-container-leave-end {
  transform: translateY(100%) scale(0.9);
}

@media(min-width: 640px) {
  .dialog__container-content {
    /* width */
    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: var(--cpy-bg-medium);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: var(--cpy-bg-basic);
      border-radius: 0.25rem/* 4px */;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--cpy-bg-basic);
    }
  }
}
