.dialog {
  &:not(.hidden) {
    @apply fixed inset-0 flex items-center justify-center;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__container {
    @apply px-2 shadow-md rounded-md max-w-full max-h-full w-[450px];
    background-color: var(--cpy-bg-white);

    &-title {
      @apply py-2 pl-4 flex items-baseline w-full gap-2 border-b;
      border-color: var(--cpy-bg-basic-border);

      span {
        @apply flex-1;
      }
    }

    &-close {
      color: var(--cpy-dm-text-override);
    }

    &-content {
      @apply p-4;
    }
  }
}

.dialog-enter {
  @apply transition ease-in-out duration-300;
}
.dialog-enter-start {
  @apply opacity-0;
}
.dialog-enter-end {
  @apply opacity-100;
}
 
.dialog-leave {
  @apply transition ease-in-out duration-300;
}
.dialog-leave-start {
  @apply opacity-100;
}
.dialog-leave-end {
  @apply opacity-0;
}

.dialog-container-enter {
  @apply transition ease-in-out duration-300;
}
.dialog-container-enter-start {
  @apply transform translate-y-full scale-90;
}
.dialog-container-enter-end {
  @apply transform translate-y-0 scale-100;
}
 
.dialog-container-leave {
  @apply transition ease-in-out duration-300;
}
.dialog-container-leave-start {
  @apply transform scale-100;
}
.dialog-container-leave-end {
  @apply transform scale-90;
}