.dialog {
  &:not(.hidden) {
    @apply fixed inset-0 flex items-center justify-center;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__container {
    @apply flex flex-col shadow-md rounded-md w-[550px] max-h-[95vh] max-w-[95vw] overflow-hidden;
    background-color: var(--cpy-bg-white);

    &--small {
      @apply w-[350px];
    }

    &--large {
      @apply w-[750px];
    }

    &--full-screen {
      @apply w-[95vw];
    }

    &-title {
      @apply p-2 pl-6 flex items-baseline w-full gap-2 border-b text-lg;
      border-color: var(--cpy-bg-basic-border);

      span {
        @apply flex-1;
      }
    }

    &-close {
      color: var(--cpy-dm-text-override);
    }

    &-content {
      @apply py-4 px-6 flex-1 overflow-x-auto;
    }

    &-buttons {
      @apply py-4 px-6 border-t flex w-full gap-2 justify-end;
      border-color: var(--cpy-bg-basic-border);
    }
  }
}

.dialog-enter {
  @apply transition ease-in-out duration-300;
}
.dialog-enter-start {
  @apply opacity-0;
}
.dialog-enter-end {
  @apply opacity-100;
}
 
.dialog-leave {
  @apply transition ease-in-out duration-300;
}
.dialog-leave-start {
  @apply opacity-100;
}
.dialog-leave-end {
  @apply opacity-0;
}

.dialog-container-enter {
  @apply transition ease-in-out duration-300;
}
.dialog-container-enter-start {
  @apply transform -translate-y-full scale-90;
}
.dialog-container-enter-end {
  @apply transform translate-y-0 scale-100;
}
 
.dialog-container-leave {
  @apply transition ease-in-out duration-300;
}
.dialog-container-leave-start {
  @apply transform translate-y-0;
}
.dialog-container-leave-end {
  @apply transform translate-y-full;
}

@media(min-width: 640px) {
  .dialog__container-content {
    &::-webkit-scrollbar {
      @apply w-2 h-2;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: var(--cpy-bg-basic);
      @apply rounded;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--cpy-bg-basic);
    }
  }
}
