:host {
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(33%, -33%);
}

:host(.blocked) {
  position: unset;
  top: unset;
  right: unset;
  transform: unset;
}

.badge {
  @apply inline-flex leading-5 h-5 px-1.5 text-xs min-w-[1.25rem] justify-center;
  --text-color: var(--cpy-badge-text, rgb(255, 255, 255));
  --bg-color: var(--cpy-badge-bg, var(--cpy-bg-primary));
  background-color: var(--bg-color);
  color: var(--text-color);

  &--level-primary {
    --bg-color: var(--cpy-badge-bg, var(--cpy-bg-primary));
  }

  &--level-secondary {
    --bg-color: var(--cpy-badge-bg, var(--cpy-bg-secondary));
  }

  &--level-basic {
    --bg-color: var(--cpy-badge-bg, var(--cpy-bg-basic));
  }

  &--level-success {
    --bg-color: var(--cpy-badge-bg, var(--cpy-bg-success));
  }

  &--level-warn {
    --bg-color: var(--cpy-badge-bg, var(--cpy-bg-warn));
  }

  &--level-error {
    --bg-color: var(--cpy-badge-bg, var(--cpy-bg-error));
  }

  &--size-small {
    @apply leading-4 h-4 text-xs px-1 min-w-[1rem];
  }

  &--size-large {
    @apply leading-6 h-6 px-2 text-sm min-w-[1.5rem];
  }

  &--size-x-large {
    @apply leading-7 h-7 text-base px-2.5 min-w-[1.75rem];
  }

  &--appearance-rounded {
    @apply rounded-full;
  }

  &--appearance-square {
    @apply rounded-sm;
  }
}