.nav-menu-item {
  --item-opacity: 0;
  @apply flex gap-4 mb-1 py-2 px-4 rounded-md cursor-pointer text-sm items-center;
  background-color: rgba(var(--cpy-bg-basic-rgb), var(--item-opacity));

  &:hover, &--active {
    --item-opacity: 0.1;
  }

  &--group {
    @apply cursor-default;

    &:hover {
      --item-opacity: 0;
    }

    .nav-menu-item__title {
      @apply uppercase;
    }
  }

  > cpy-icon {
    @apply icon-size-6;
    
    i {
      @apply align-baseline;
    }
  }

  &__title {
    @apply truncate font-medium;
  }

  &__description {
    @apply text-xs;
    color: var(--cpy-text-light);
  }

  &__group {
    @apply ml-4;
  }

  &__separator {
    @apply border-b w-full my-2;
    border-color: var(--cpy-bg-basic-border);
  }
}