:host {
  --table-bg: var(--cpy-table-bg, var(--cpy-bg-white));
  position: relative;
  display: block;
  border-radius: 0.75rem/* 12px */;
  overflow: auto;
  border-width: 1px;
  background-color: var(--table-bg);
  border-color: var(--cpy-bg-basic-border);
}

.table-container {
  padding-bottom: 2rem/* 32px */;
  padding-top: 1.5rem/* 24px */;
  overflow: auto;
}

.table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;

  th, td {
    border-bottom-width: 1px;
    padding-left: 1rem/* 16px */;
    padding-right: 1rem/* 16px */;
    padding-top: 0.75rem/* 12px */;
    padding-bottom: 0.75rem/* 12px */;
    text-align: left;
    border-color: var(--cpy-bg-basic-border);
  }

  th {
    text-transform: capitalize;
    font-weight: 500;
    padding-top: 0px;
  }
}

@media(min-width: 640px) {
  .table-container {
    /* width */
    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: var(--cpy-bg-medium);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: var(--cpy-bg-basic);
      border-radius: 0.25rem/* 4px */;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--cpy-bg-basic);
    }
  }
}
