:host {
  @apply relative block rounded-xl overflow-auto border;
  background-color: var(--cpy-bg-white);
  border-color: var(--cpy-bg-basic-border);
}

.table-container {
  @apply shadow-sm pb-8 pt-6 overflow-auto;
}

.table {
  @apply table-auto border-collapse w-full;

  th, td {
    @apply border-b px-4 py-3 text-left;
    border-color: var(--cpy-bg-basic-border);
  }

  th {
    @apply capitalize font-medium pt-0;
  }
}

@media(min-width: 640px) {
  .table-container {
    &::-webkit-scrollbar {
      @apply w-2 h-2;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: var(--cpy-bg-basic);
      @apply rounded;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--cpy-bg-basic);
    }
  }
}
