.contents-list-item {
  cursor: pointer;
  padding-left: 0.75rem;
  margin-top: 0.25rem;
  display: block;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover, &--active {
    --active-bar-bg: var(--cpy-contents-color, var(--cpy-text-primary));
    color: var(--active-bar-bg);
  }
}