:host {
  display: inline-flex;
}

.checkbox {
  @apply flex items-center gap-4;

  &:hover:not(.checkbox--disabled) {
    .checkbox__checkmark {
      border-color: var(--cpy-bg-primary);
    }
  }

  &--invalid {
    &.checkbox--required {
      .checkbox__label::after {
        color: var(--cpy-text-error);
      }

      .checkbox__checkmark {
        border-color: var(--cpy-text-error);
      }
    }
  }

  &--required {
    .checkbox__label::after {
      @apply ml-0.5;
      content: "*";
    }
  }

  &--disabled {
    .checkbox__label, .checkbox__checkmark {
      @apply cursor-default;
    }

    .checkbox__container {
      background-color: var(--cpy-bg-disabled) !important;
    }
  }

  &--large {
    @apply gap-5;

    .checkbox__container {
      @apply rounded-md w-7 h-7;
    }

    .checkbox__checkmark {
      @apply rounded-md;

      &::after {
        @apply border-l-4 border-b-4;
      }
    }
  }

  &--small {
    @apply gap-3;

    .checkbox__container {
      @apply rounded-sm w-4 h-4;
    }

    .checkbox__checkmark {
      @apply rounded-sm;
      
      &::after {
        @apply border-l-2 border-b-2;
      }
    }
  }

  &__label {
    @apply cursor-pointer;
  }

  &__container {
    @apply relative inline-block w-5 h-5 rounded;
    background-color: var(--cpy-bg-white);

    input {
      @apply opacity-0 w-0 h-0;
    }

    input:checked + .checkbox__checkmark {
      background-color: var(--cpy-bg-primary);
      border-color: var(--cpy-bg-primary);

      &::after {
        @apply opacity-100;
      }
    }
  }

  &__checkmark {
    @apply absolute cursor-pointer inset-0 transition duration-300 rounded border;
    border-color: var(--cpy-bg-basic-border);
    
    &::after {
      @apply transition duration-300 origin-center absolute left-1/2 top-[40%] -translate-x-1/2 -translate-y-1/2 w-4/5 h-2/5 -rotate-45 border-l-[3px] border-b-[3px] opacity-0;
      border-color: var(--cpy-checkbox-tick-color, white);
      content: "";
    }
  }
}
