:host {
  display: inline-flex;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;

  &:hover:not(.checkbox--disabled) {
    .checkbox__checkmark {
      border-color: var(--cpy-bg-primary);
    }
  }

  &--invalid {
    &.checkbox--required {
      .checkbox__label::after {
        color: var(--cpy-text-error);
      }

      .checkbox__checkmark {
        border-color: var(--cpy-text-error);
      }
    }
  }

  &--required {
    .checkbox__label::after {
      margin-left: 0.125rem/* 2px */;
      content: "*";
    }
  }

  &--disabled {
    .checkbox__label, .checkbox__checkmark {
      cursor: default;
    }

    .checkbox__container {
      background-color: var(--cpy-bg-disabled) !important;
    }
  }

  &--large {
    gap: 1.25rem/* 20px */;

    .checkbox__container {
      border-radius: 0.375rem/* 6px */;
      height: 1.75rem/* 28px */;
      width: 1.75rem/* 28px */;
    }

    .checkbox__checkmark {
      border-radius: 0.375rem/* 6px */;

      &::after {
        border-left-width: 4px;
        border-bottom-width: 4px;
      }
    }
  }

  &--small {
    gap: 0.75rem/* 12px */;

    .checkbox__container {
      border-radius: 0.125rem/* 2px */;
      height: 1rem/* 16px */;
      width: 1rem/* 16px */;
    }

    .checkbox__checkmark {
      border-radius: 0.125rem/* 2px */;
      
      &::after {
        border-left-width: 2px;
        border-bottom-width: 2px;
      }
    }
  }

  &__label {
    cursor: pointer;
  }

  &__container {
    position: relative;
    display: inline-block;
    width: 1.25rem/* 20px */;
    height: 1.25rem/* 20px */;
    border-radius: 0.25rem/* 4px */;
    background-color: var(--cpy-bg-white);

    input {
      opacity: 0;
      width: 0px;
      height: 0px;
    }

    input:checked + .checkbox__checkmark {
      background-color: var(--cpy-bg-primary);
      border-color: var(--cpy-bg-primary);

      &::after {
        opacity: 1;
      }
    }
  }

  &__checkmark {
    position: absolute;
    cursor: pointer;
    inset: 0px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    border-radius: 0.25rem/* 4px */;
    border-width: 1px;
    border-color: var(--cpy-bg-basic-border);
    
    &::after {
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;
      transform-origin: center;
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 80%;
      height: 40%;
      border-left-style: solid;
      border-bottom-style: solid;
      border-left-width: 3px;
      border-bottom-width: 3px;
      opacity: 0;
      border-color: var(--cpy-checkbox-tick-color, white);
      content: "";
    }
  }
}
