:host {
  @apply inline-flex;
}

.popup {
  @apply inline-flex items-center justify-center relative;

  &--click-container {
    @apply cursor-pointer;
  }

  &--dropdown {
    @apply rounded-[0.25rem] opacity-0 absolute invisible w-max z-50 shadow-md;
    background-color: var(--cpy-bg-white);
    color: var(--cpy-text-base);
    transition: opacity 0.3s ease-in-out;
  }

  &--allow-hover {
    &:hover {
      .popup--dropdown {
        opacity: 1;
        visibility: visible;
      }
    } 
  }

  &--show {
    .popup--dropdown {
      opacity: 1;
      visibility: visible;
    }
  }
}