:host {
  @apply inline-flex;
}

.popup {
  @apply relative;

  &--click-container {
    @apply cursor-pointer;
  }

  &__dropdown {
    @apply rounded-[0.25rem] opacity-0 absolute invisible w-max z-50 shadow-md;
    background-color: var(--cpy-bg-white);
    color: var(--cpy-text-base);
    transition: opacity 0.2s ease-in-out;

    &--stretch-x {
      @apply w-full max-w-full;
    }

    &--stretch-y {
      @apply h-full max-h-full;
    }
  }

  &--allow-hover {
    &:hover {
      .popup__dropdown {
        opacity: 1;
        visibility: visible;
      }
    } 
  }

  &--show {
    .popup__dropdown {
      opacity: 1;
      visibility: visible;
    }
  }
}