:host {
  display: inline-flex;
}

.tab-header {
  line-height: 2.5rem/* 40px */;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 1.5rem/* 24px */;
  padding-right: 1.5rem/* 24px */;
  min-width: 10rem/* 160px */;
  max-width: 16rem/* 256px */;
  cursor: pointer;
  text-align: center;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  &:hover {
    background-color: var(--cpy-bg-hover);
  }
}

@media (max-width: 640px) {
  .tab-header {
    padding-left: 1rem/* 16px */;
    padding-right: 1rem/* 16px */;
    min-width: 4rem/* 64px */;
    max-width: 12rem/* 192px */;
  }
}
