:host {
  display: inline-flex;
}

.link {
  --link-align: var(--cpy-link-align, baseline);
  --text-color: var(--cpy-link-color, var(--cpy-text-primary));
  display: flex;
  gap: 0.25rem;
  align-items: var(--link-align);
  color: var(--text-color);

  &--underline:hover {
    text-decoration-line: underline;
    cursor: pointer;
    ::slotted(*) {
      cursor: pointer;
    }
  }

  &--primary {
    --text-color: var(--cpy-link-color, var(--cpy-text-primary));
  }

  &--secondary {
    --text-color: var(--cpy-link-color, var(--cpy-text-secondary));
  }
  
  &--basic {
    --text-color: var(--cpy-link-color, var(--cpy-text-basic));
  }

  &--success {
    --text-color: var(--cpy-link-color, var(--cpy-text-success));
  }

  &--warn {
    --text-color: var(--cpy-link-color, var(--cpy-text-warn));
  }
  
  &--error {
    --text-color: var(--cpy-link-color, var(--cpy-text-error));
  }
}