@import '../../styles/mixins/icon-size.scss';

.accordion {
  --accordion-bg: var(--cpy-accordion-header-bg, transparent);
  --accordion-hover-bg: var(--cpy-accordion-header-hover-bg, var(--cpy-bg-hover));
  --accordion-text-color: var(--cpy-accordion-header-text-color, inherit);
  display: flex;
  gap: 1rem/* 16px */;
  width: 100%;
  padding-left: 0.5rem/* 8px */;
  padding-right: 0.5rem/* 8px */;
  padding-top: 0.5rem/* 8px */;
  padding-bottom: 0.5rem/* 8px */;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  align-items: center;
  background-color: var(--accordion-bg);
  color: var(--accordion-text-color);

  &:hover {
    background-color: var(--accordion-hover-bg);
  }

  &__container {
    border-bottom-width: 1px;
    border-color: var(--cpy-bg-basic-border);
  }

  cpy-icon {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    @include icon-size(7);
  }

  &--small {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
    padding-top: 0.25rem/* 4px */;
    padding-bottom: 0.25rem/* 4px */;

    cpy-icon {
      @include icon-size(6);
    }
  }

  &--large {
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
    padding-top: 1rem/* 16px */;
    padding-bottom: 1rem/* 16px */;
    
    cpy-icon {
      @include icon-size(8);
    }
  }

  &--open {
    cpy-icon {
      transform: rotate(-180deg);
    }
  }
}