.accordion {
  --accordion-bg: var(--cpy-accordion-header-bg, transparent);
  --accordion-hover-bg: var(--cpy-accordion-header-hover-bg, var(--cpy-bg-hover));
  --accordion-text-colour: var(--cpy-accordion-header-text-colour, inherit);
  @apply flex gap-4 w-full px-2 py-2 justify-between cursor-pointer select-none items-center;
  background-color: var(--accordion-bg);
  color: var(--accordion-text-colour);

  &:hover {
    background-color: var(--accordion-hover-bg);
  }

  &__container {
    @apply border-b;
    border-color: var(--cpy-bg-basic-border);
  }

  cpy-icon {
    @apply transition icon-size-7;
  }

  &--small {
    @apply text-sm py-1;

    cpy-icon {
      @apply icon-size-6;
    }
  }

  &--large {
    @apply text-lg py-4;
    
    cpy-icon {
      @apply icon-size-8;
    }
  }

  &--open {
    cpy-icon {
      @apply -rotate-180;
    }
  }
}