.context-menu {
  min-width: 8rem/* 128px */;
  max-width: 20rem/* 320px */;
  display: inline-flex;
  flex-direction: column;
  padding-top: 0.5rem/* 8px */;
  padding-bottom: 0.5rem/* 8px */;
  border-radius: 0.25rem/* 4px */;
  background-color: var(--cpy-bg-white);
}
