.drawer {
  @apply absolute block w-full top-0 bottom-0 z-30 outline-0 overflow-y-auto invisible transition-all duration-300;
  border-color: var(--cpy-bg-basic-border);
  transform: translate3d(-100%, 0, 0);
  background-color: var(--cpy-bg-white);

  &--open {
    @apply transform-none visible;
  }
  
  &__close {
    @apply absolute top-0 right-0 z-10;
  }
}

@media(min-width: 640px) {
  .drawer {
    @apply w-auto min-w-[300px] border-r z-20;

    &__close {
      @apply hidden;
    }

    /* width */
    &::-webkit-scrollbar {
      @apply w-2 h-2;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: var(--cpy-bg-basic);
      @apply rounded;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--cpy-bg-basic);
    }
  }
}
