.drawer {
  --bg-color: var(--cpy-drawer-bg, var(--cpy-bg-white));
  --border-width: var(--cpy-drawer-border-width, 1px);
  @apply absolute h-full block z-30 outline-0 overflow-y-auto invisible transition-all duration-300;
  border-color: var(--cpy-bg-basic-border);
  transform: translate3d(-100%, 0, 0);
  background-color: var(--bg-color);

  &--open {
    @apply transform-none visible;
  }

  &--mode-over {
    @apply max-w-[80%] top-0 bottom-0;
  }

  &--mode-side {
    @apply w-auto z-20;
    border-right-width: var(--border-width);
    scrollbar-gutter: stable;
  }
}

@media(min-width: 640px) {
  .drawer {
    /* width */
    &::-webkit-scrollbar {
      @apply w-2 h-2;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: var(--cpy-bg-medium);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: var(--cpy-bg-basic);
      @apply rounded;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--cpy-bg-basic);
    }
  }
}
