:host {
  display: block;
}

.tabs-header {
  max-width: 100%;
  display: flex;
  border-bottom-width: 1px;
  border-color: var(--cpy-bg-basic-border);

  &__container {
    flex: 1 1 0%;
    display: flex;
    overflow-x: auto;
    position: relative;
    scroll-behavior: smooth;

    &::-webkit-scrollbar{
      display: none;
    }
  }

  &__active-bar {
    --active-bar-bg: var(--cpy-tab-active-bg, var(--cpy-bg-primary));
    height: 0.125rem;
    position: absolute;
    bottom: 0px;
    width: 1rem/* 16px */;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-color: var(--active-bar-bg);
  }
}
