:host {
  display: block;
}

.tabs-header {
  @apply max-w-full flex border-b;
  border-color: var(--cpy-bg-basic-border);

  &__container {
    @apply flex-1 flex overflow-x-auto relative scroll-smooth;

    &::-webkit-scrollbar{
      display: none;
    }
  }

  &__active-bar {
    @apply h-0.5 absolute bottom-0 w-4 transition-all duration-300;
    background-color: var(--cpy-bg-primary);
  }
}
