:host {
  @apply block;
}

.alert {
  @apply relative flex p-4 rounded-md mb-5;

  &--no-container {
    @apply bg-transparent p-0 mb-2 #{'!important'};
  }

  /* Icon */
  .alert-icon {
    &:not(:empty) {
      @apply mr-2;
    }
     
    cpy-icon i {
      @apply icon-size-5;
    }
  }

  /* Content */
  .alert-content {
    @apply flex flex-col;

    /* Title */
    .alert-title {
      @apply font-semibold;
    }

    /* Alert */
    .alert-message {
      @apply text-gray-500;
      word-break: break-word;

      &:last-child {
        @apply mb-0;
      }
    }
  }

  &.alert-appearance-border {

    @apply relative overflow-hidden rounded-md shadow-md;
    background-color: white !important;

    .alert-border {
      @apply absolute left-0 top-0 bottom-0 w-1;
    }

  }

  /* Primary */
  &.alert-level-primary {
    background-color: var(--cpy-bg-primary-light);

    &.alert-appearance-border {
      .alert-border {
        background-color: var(--cpy-bg-primary);
      }
    }

    .alert-icon,
    .alert-title {
      color: var(--cpy-text-primary);
    }
  }

  /* Basic */
  &.alert-level-basic {
    background-color: var(--cpy-bg-basic-light);

    &.alert-appearance-border {
      .alert-border {
        background-color: var(--cpy-bg-basic);
      }
    }

    .alert-icon,
    .alert-title {
      color: var(--cpy-text-base);
    }
  }

  /* Info */
  &.alert-level-secondary {
    background-color: var(--cpy-bg-secondary-light);

    &.alert-appearance-border {
      .alert-border {
        background-color: var(--cpy-bg-secondary);
      }
    }

    .alert-icon,
    .alert-title {
      color: var(--cpy-text-secondary);
    }
  }

  /* Success */
  &.alert-level-success {
    background-color: var(--cpy-bg-success-light);

    &.alert-appearance-border {
      .alert-border {
        background-color: var(--cpy-bg-success);
      }
    }

    .alert-icon,
    .alert-title {
      color: var(--cpy-text-success);
    }
  }

  /* Warning */
  &.alert-level-warning {
    background-color: var(--cpy-bg-warn-light);

    &.alert-appearance-border {
      .alert-border {
        background-color: var(--cpy-bg-warn);
      }
    }

    .alert-icon,
    .alert-title {
      color: var(--cpy-text-warn);
    }
  }

  /* Error */
  &.alert-level-error {
    background-color: var(--cpy-bg-error-light);

    &.alert-appearance-border {
      .alert-border {
        background-color: var(--cpy-bg-error);
      }
    }

    .alert-icon,
    .alert-title {
      color: var(--cpy-text-error);
    }
  }
}
