@import '../../styles/mixins/icon-size.scss';

:host {
  display: block;
}

.alert {
  --alert-bg: var(--cpy-alert-bg, transparent);
  position: relative;
  display: flex;
  padding: 1rem/* 16px */;
  border-radius: 0.375rem/* 6px */;
  margin-bottom: 1.25rem/* 20px */;
  background-color: var(--alert-bg);

  &--no-container {
    background-color: transparent !important;
    padding: 0px;
    margin-bottom: 0.5rem/* 8px */;
  }

  &__close {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
  }

  /* Icon */
  .alert-icon {
    &:not(:empty) {
      margin-right: 0.5rem/* 8px */;
    }
     
    cpy-icon {
      display: block;
      @include icon-size(6);
    }
  }

  /* Content */
  .alert-content {
    display: flex;
    flex-direction: column;

    /* Title */
    .alert-title {
      font-size: 1rem/* 16px */;
      line-height: 1.5rem/* 24px */;
      font-weight: 600;

      .alert__close + .alert-title--slot {
        margin-right: 3rem/* 48px */;
      }
    }

    /* Alert */
    .alert-message {
      color: var(--cpy-text-base);
      word-break: break-word;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &.alert-appearance-border {
    position: relative;
    overflow: hidden;
    border-radius: 0.375rem/* 6px */;
    background-color: var(--cpy-bg-white) !important;

    .alert-border {
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      width: 0.25rem/* 4px */;
      background-color: var(--alert-bg);
    }

  }

  &.alert-appearance-soft {
    .alert-icon,
    .alert-title {
      color: var(--cpy-dm-text-override);

      .alert__close--icon {
        color: var(--cpy-dm-text-override);
      }
    }
  }

  /* Primary */
  &.alert-level-primary {
    background-color: var(--cpy-bg-primary-light);
    color: var(--cpy-text-primary);

    &.alert-appearance-border {
      .alert-border {
        background-color: var(--cpy-bg-primary);
      }
    }
  }

  /* Basic */
  &.alert-level-basic {
    background-color: var(--cpy-bg-basic-light);
    color: var(--cpy-text-base);

    &.alert-appearance-border {
      .alert-border {
        background-color: var(--cpy-bg-basic);
      }
    }
  }

  /* Secondary */
  &.alert-level-secondary {
    background-color: var(--cpy-bg-secondary-light);
    color: var(--cpy-text-secondary);

    &.alert-appearance-border {
      .alert-border {
        background-color: var(--cpy-bg-secondary);
      }
    }
  }

  /* Success */
  &.alert-level-success {
    background-color: var(--cpy-bg-success-light);
    color: var(--cpy-text-success);

    &.alert-appearance-border {
      .alert-border {
        background-color: var(--cpy-bg-success);
      }
    }
  }

  /* Warn */
  &.alert-level-warn {
    background-color: var(--cpy-bg-warn-light);
    color: var(--cpy-text-warn);

    &.alert-appearance-border {
      .alert-border {
        background-color: var(--cpy-bg-warn);
      }
    }
  }

  /* Error */
  &.alert-level-error {
    background-color: var(--cpy-bg-error-light);
    color: var(--cpy-text-error);

    &.alert-appearance-border {
      .alert-border {
        background-color: var(--cpy-bg-error);
      }
    }
  }
}
