:host(.slide-in) {
  display: inline-block;
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

:host(.slide-in--left) {
  transform: translateX(-100%);
}

:host(.slide-in--right) {
  transform: translateX(100%);
}

:host(.slide-in--open) {
  transform: translateX(0);
  opacity: 1;
}
