:host {
  display: block;
  margin-top: 2rem/* 32px */;
  margin-bottom: 2rem/* 32px */;
}

.page-container {
  width: 100%;

  &__content {
    max-width: 80rem/* 1280px */;
    padding-left: 1rem/* 16px */;
    padding-right: 1rem/* 16px */;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  :host {
    margin-top: 4rem/* 64px */;
    margin-bottom: 4rem/* 64px */;
  }

  .page-container__content {
    padding-left: 2rem/* 32px */;
    padding-right: 2rem/* 32px */;

  }
}

@media (min-width: 1024px) {
  .page-container__content {
    padding-left: 4rem/* 64px */;
    padding-right: 4rem/* 64px */;
  }
}
